<div class="navigation-bar-container">
    <div class="row">
        <div class="logo col-lg-2">
                <img class="logo-navbar img-responsive" height="100" src="https://previews.dropbox.com/p/thumb/AAeMQ7WWXJYP9iANVFGQAS4DZ2V0lcJnxOgvGaS34-N9Bp7xh6_EkCSoI2k8b8VZYLDR2XfFu3-JmXCsfwx8JJLjcyM94jgtdKktNfWEffqSXOvsaqZt3QjkvObstGHqcn4cV3NavBvHQSLILGGtZdzNrQkW8JC_MYvP913jI5yam9WUgqvQ-ohtnD8a5w0Sd1E2TqEaVevnH43HZmH7dhi2o4c5xbSkSrT-sB1aElNj_HpDt_sSpaep3nyieuEEMSEeK2iqgx570xE4euKUZwwx-4uT6CxZ12S81YTN9ooZUv8chNvQp9Yag-zax4OMSCeHEXWI9lhWqTmeAzixLNMb/p.png?fv_content=true&size_mode=5" alt="Responsive image">
        </div>
        <div class="col-lg-8">
            <div class="navbar-search-box">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <button class="btn btn-outline-secondary dropdown-toggle navbar-button" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Category</button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Fiction</a>
                            <a class="dropdown-item" href="#">Non-Fiction</a>
                            <div role="separator" class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Romantic</a>
                            <a class="dropdown-item" href="#">Action and adventure</a>
                            <a class="dropdown-item" href="#">Crime</a>
                            <a class="dropdown-item" href="#">Fantasy</a>
                        </div>
                    </div>
                    <input type="text" class="form-control navbar-search-box" aria-label="Text input with dropdown button">
                    <div class="input-group-append ">
                        <button class="btn btn-secondary navbar-button" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="header">
                <nav class="navbar navbar-expand-lg navbar-main" >
                    <a class="navbar-brand" href="#">Book World</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Shop By Category
                                </a>
                                <div class="dropdown-menu category-dropdown" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-header">Fiction</a> 
                                    <a class="dropdown-item" >Contemporary Fiction</a>
                                    <a class="dropdown-item" >Classic Fiction</a>
                                    <a class="dropdown-item" >Crime, Thriller & Mystery</a>
                                    <a class="dropdown-item" >Romance</a>
                                    <a class="dropdown-item" >Indian Writing</a>
                                    <a class="dropdown-item" >Action & Adventure</a>
                                    <a class="dropdown-item" >Historical Fiction</a>
                                    <a class="dropdown-item" >Religious & Spiritual Fiction</a>
                                    <a class="dropdown-item" >Children's Literature & Fiction</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-header">Non-Fiction</a> 
                                    <a class="dropdown-item" >Personal Development & Self-Help</a>
                                    <a class="dropdown-item" >Business, Strategy & Management</a>
                                    <a class="dropdown-item" >Mind, Body & Spirit</a>
                                    <a class="dropdown-item" >Political Theory</a>
                                    <a class="dropdown-item" >Biology Books</a>
                                    <a class="dropdown-item" >Anthropology</a>
                                    <a class="dropdown-item" >Society & Culture</a>
                                    <a class="dropdown-item" >Textbooks & Study Guides</a>
                                    <a class="dropdown-item" >History of Civilization & Culture</a>
                                    <a class="dropdown-item" >History of Ideas</a>
                                </div>
                            </li>
                            
                            <li class="nav-item">
                                <a class="nav-link" href="#">Sell</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Customer Service</a>
                            </li>
                        </ul>
                        
                    </div>
                </nav>
            </div>
        </div>
        <div class="navbar-cart col-lg-2">
            <img class="img-responsive" height=80 src="https://previews.dropbox.com/p/thumb/AAd0NU-IpLXNILAcxt1tdORtZKzfCsZ0P-igLdIYjH7AS0lyGakY19-E_luAQ0VJ5YzFP84J7dy2YdBx3b7JJVN4CrHc6Sa4WAF5WAsI-9B46AuVekOQPGtyJUmn0Frvt1r6FsNVX-cTUw8uJ1PEb5BKsE4YMqesJrXaQhL4IjYkRS5Tj3Uy5c60EvpZ0dc-JaGjxAX3HE4SxNj23Gbx38GLolxashRK2YoJ4Y_mNoTuZqZlLUYClFElJllC_lkTPtq5GG5YHUmc9DolmDvqnP-gDqqq8yn-gxE0M9_CumZtAfJRj-QCPyOakVGrLLg7au1VDJPN32MSorx5vkkz1sZl/p.png?fv_content=true&size_mode=5"><br>
            <a class="login-signup-button" routerLink="/login">Login/Signup</a>

        </div>
    </div>
</div>